name: Deploy YDS StoryBook

on:
  push:
    branches: [ develop ]

jobs:
  upload:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Read versionName property
        id: release_version
        uses: christian-draeger/read-properties@1.0.1
        with:
          path: './version.properties'
          property: 'versionName'

      - name: set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Build with Gradle
        run: ./gradlew --no-daemon :app:storybook:assembleDevRelease
      - name: Upload to Slack
        run: curl -F file=@"app/storybook/build/outputs/apk/dev/release/YDS-StoryBook-${{ steps.release_version.outputs.value }}-dev-release.apk" -F "initial_comment=개발중인 YDS StoryBook이 나왔슈~" -F "channels=${{ secrets.SLACK_CHANNEL_ID }}" -H "Authorization:Bearer ${{ secrets.SLACK_WORKSPACE_TOKEN }}" https://slack.com/api/files.upload